@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Mono:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	font-size: calc(1rem + 0.25vw);
	line-height: calc(1.1em + 0.5vw);
}

body {
	font-family:
		'DM Sans',
		system-ui,
		-apple-system,
		'Segoe UI',
		Roboto,
		'Helvetica Neue',
		Arial,
		sans-serif;
}

/* Top nav styling */

header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 0 5%;
	gap: max(6px, 12vw);
	height: 60px;

	border-bottom: 3px solid #e1e0e0;
	background-color: #f4f4f4;

	font-size: 1rem;

	overflow-wrap: anywhere;
}

.topnav {
	display: flex;
	justify-content: space-between;
	gap: 1.3rem;

	max-width: 500px;
	flex: 2;
}

/* Nav links */
header a {
	text-decoration: none;
	color: rgb(84, 84, 84);
	font-weight: 400;
}

/* Text settings */
#logo {
	font-weight: 900;
	font-size: 1.6em;
}

/* Fixed navbar */
header {
	position: sticky;
	top: 0;
	overflow: hidden;
}

/* Hero styling */
.hero-section {
	display: flex;
	align-items: center;
	justify-content: center;

	height: calc(100vh - 75px);

	padding: 5vh 5vw;
}

/*  Box medie */
.medie {
	display: flex;
	align-items: center;
	justify-content: center;

	gap: 1.5rem;
}

.container {
	background-color: seagreen;
}

.container > h1 {
	font-size: 2.5rem;
}

.voto {
	font-size: 0;
}

.blackbox {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 100px;
	font-weight: 900;

	background-color: black;
	color: white;
}

.intero {
	font-size: 3rem;
}

.decimale {
	font-size: 1.3rem;
}

/* Second section styling */
#second {
	height: 100vh;
}
